*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  inline-size: 1140px;
  block-size: 534px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  margin: 133px 30px;
}

.result {
  inline-size: 711px;
  display: flex;
  flex-direction: column;
}

.result__video-container {
  position: relative;
  display: flex;
  margin-bottom: 16px;
}

.result__video {
  inline-size: 711px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  inline-size: fit-content; 
  cursor: pointer; 
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  inline-size: 399px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  block-size: 210px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  inline-size: 100%;
  overflow: auto;
  align-items: stretch;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  block-size: 103px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}

.content__video-card-title {
  margin-bottom: 6px;
  color: #fff;
  font-family: "Oswald", sans-serif;;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
  inline-size: 200px;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
}

 /* СТИЛИ ФОРМ */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 5px;
  
}

.search-form__textfield {
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  color: #FFF;
  inline-size: 225px;
  block-size: 27px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

.search-form__textfield:active {
  border: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  inline-size: 212px;
  margin-bottom: 5px;
}

.search-form__pseudo-checkbox {
  outline: 1px solid #FFF;
  border: 1px solid #1b1919;
  inline-size: 18px;
  block-size: 18px;
}
/*
.search-form__label-text:hover {
  text-decoration: underline;
} 
*/
input[type="checkbox"]:checked + span {
  background-color: #fff;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link_current:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid #FFF;
}

.content__card-link_current {
  background-color: #545050;
  text-decoration: none;
}


/*СТИЛИ КНОПОК*/

.button {
  appearance: none;
  cursor: pointer;
  inline-size: 100%;
  block-size: 34px;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: inherit;
  box-shadow: none;
  border: 1px solid #FFF;
}

.button:focus {
  appearance: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}